<%= form_for(publication) do |f| %>
  <% if publication.errors.any? %>
    <div class="alert alert-danger">
      <% publication.errors.full_messages.each do |msg| %>
      <p><%= msg %></p>
      <% end %>
    </div>
  <% end %>
  <%= f.hidden_field :book, :value => book.id %>
  <div class="form-group">
    <%= f.label :ISBN %>
    <%= f.text_field :ISBN, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :year %>
    <%= f.text_field :year, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :publisher %>
    <% if publisher %>
      <%= f.select :publisher,
        Publisher.all.collect{|p| [p.name, p.id]}, {include_blank: true, :selected => publisher.id},
        {:class => 'form-control select-publisher'} %>
    <% else %>
      <%= f.select :publisher,
        Publisher.all.collect{|p| [p.name, p.id]}, {include_blank: true},
        {:class => 'form-control select-publisher'} %>
   <% end %>
  </div>
  <%= f.submit 'Save', class: 'btn btn-default' %>
<% end %>
