<div class="jumbotron">
  <h2>Library Information System</h2>
  <p>Welcome to our Information System!</p>
  <% if !current_user %>
    <p>For authorized access please log in or sign up:</p>
    <p>
      <%= link_to 'Log in', login_path, class: "btn btn-default" %>
      <%= link_to 'Sign up', signup_path(birthday: Date.today), class: "btn btn-default" %>
    </p>
  <% end %>
</div>

<h3>Catalogues</h3>
<div>
  To search for books, authors or publishers, please visit our catalogues:
  <ul>
    <li><%= link_to 'Books catalogue', books_path %></li>
    <li><%= link_to 'Authors catalogue', authors_path %></li>
    <li><%= link_to 'Publishers catalogue', publishers_path %></li>
  </ul>
</div>

<h3>New books in our library</h3>
<div>
  <ul>
    <% (@new_books.sort{ |a,b| a.title.downcase <=> b.title.downcase }).each do |book| %>
      <li><%= link_to book.title, book %> by <%= book.author.name %></li>
    <% end %>
  </ul>
</div>

