<h2><%= @author.name %>
<% if current_user && current_user.librarian %>
  <%= link_to 'Edit', edit_author_path(@author), class: 'btn btn-default' %>
  <%= link_to 'Remove', @author, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
<% end %>
</h2>

<div>
  <% if current_user && current_user.librarian %>
    <%= link_to 'Add book', {controller: "books", action: "new"}, class: 'btn btn-default' %>
  <% end %>

  <p>
  <% if @author.books.empty? %>
    There are no books by this author in our system.
  <% else %>
    <table id="books_table" class="table">
      <tr>
        <th>Books</th>
        <th></th>
      </tr>
      <% (@author.books.sort{ |a,b| a.title.downcase <=> b.title.downcase }).each do |book| %>
      <tr>
        <td>
        <%= link_to book.title, book %>
        </td>
        <% if current_user && current_user.librarian %>
          <td>
           <%= link_to 'Edit', edit_book_path(book, @author.id), class: 'btn btn-default'  %>
           <%= link_to 'Remove', book_path(id: book.id, author_id: @author.id), method: :delete,
           data: { confirm: 'Are you sure?' }, class: 'btn btn-danger'  %>
          </td>
        <% end %>
      </tr>
      <% end %>
    </table>
  <% end %>
</p>

</div>
