<h2>New user</h2>

<%= form_for :user, url: '/users' do |f| %>

	<% if @user.errors.any? %>
    <div class="alert alert-danger">
      <% @user.errors.full_messages.each do |msg| %>
      <p><%= msg %></p>
      <% end %>
    </div>
  <% end %>

  <div class ="row">
    <div class='form-group col-md-3'>
      <%= f.label :name %>
      <%= f.text_field :name, class:'form-control', placeholder:'Name' %>
    </div>
  </div>

  <div class ="row">
    <div class='form-group col-md-3'>
      <%= f.label :email %>
      <%= f.text_field :email, class:'form-control', placeholder:'Email', type:'email' %>
    </div>
  </div>

  <div class ="row">
    <div class='form-group col-md-3'>
      <%= f.label :password %>
      <%= f.password_field :password, class:'form-control', placeholder:'Password' %>
    </div>
  </div>

  <div class ="row">
    <div class='form-group col-md-3'>
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, class:'form-control', placeholder:'Confirm password' %>
    </div>
  </div>


  <div class ="row">
    <div class='form-group col-md-3'>
      <%= f.label :bithday %>
      <div id="birthdayPicker"></div>
    </div>
  </div>

  <div class ="row">
    <div class='form-group col-md-3'>
      <%= f.label :city %>
      <%= f.text_field :city, class:'form-control', placeholder:'City' %>
    </div>
  </div>

  <div class ="row">
    <div class='form-group col-md-3'>
      <%= f.label :street %>
      <%= f.text_field :street, class:'form-control', placeholder:'Street' %>
    </div>
  </div>

  <div class ="row">
    <div class='form-group col-md-3'>
      <%= f.label :postcode %>
      <%= f.text_field :postcode, class:'form-control', placeholder:'Postcode' %>
    </div>
  </div>

  <%= f.submit "Submit" %>

<% end %>
