<div class="page-header">
  <h2><%= current_user.name %>
    <small><%= current_user.email %></small>
  </h2>
</div>

<div>
  <h3>Personal info</h3>
  <h5>Birth date:</h5>
  <%= current_user.birthday %>
  <h5>Address:</h5>
  <p>
  <%= current_user.street %> </br>
  <%= current_user.city %> </br>
  <%= current_user.postcode %>
  </p>
</div>

<div>
  <% if current_user.reader %>
    <h3>Reader's account</h3>
    <p>
      Card code: <%= current_user.reader.card_code %>
    </p>
    <p>
        <h4>Active borrows</h4>
        <% if (current_user.reader.borrows.select{ |b| b.active?}).empty? %>
          No active borrows.
        <% else %>
          <table id="borrows_table" class="table">
            <tr>
              <th>Book</th>
              <th>Borrowed on</th>
              <th>Expected return date</th>
            </tr>
            <% (current_user.reader.borrows.select{ |b| b.active? }).each do |borrow| %>
            <tr>
              <td>
              <%= link_to borrow.publication.book.title, borrow %>
              </td>
              <td>
                <%= borrow.borrow_date %>
              </td>
              <td>
                <%= borrow.expected_return_date %>
              </td>
            </tr>
            <% end %>
          </table>
       <% end %>
    </p>
  <% elsif current_user.librarian %>
    <%= link_to "Add reader's account", controller: 'readers', action: 'new', id: current_user %>
  <% end %>
  <% if current_user.librarian %>
    <h3>Librarian's account</h3>
    <p>
      Card code: <%= current_user.librarian.card_code %>
    </p>
  <% end %>
</div>
