<h2><%= @user.name %></h2>

Email: <%= @user.email %>
<div>
  <% if @user.reader %>
    <h3>Reader's account</h3>
    <p>
      Card code: <%= @user.reader.card_code %>
    </p>
    <p>
      <%= link_to 'Borrow a book', {controller: "borrows", action: "new"}, class: 'btn btn-default' %>
      <p>
        <h4>Active borrows</h4>
        <% if (@user.reader.borrows.select{ |b| b.active?}).empty? %>
          No active borrows.
        <% else %>
          <table id="borrows_table" class="table">
            <tr>
              <th>Book</th>
              <th></th>
            </tr>
            <% (@user.reader.borrows.select{ |b| b.active? }).each do |borrow| %>
            <tr>
              <td>
              <%= link_to borrow.publication.book.title, borrow %>
              </td>
              <td>
                <%= link_to 'Return', {controller: 'borrows', action: 'return', id: borrow.id}, class: 'btn btn-danger'%>
              </td>
            </tr>
            <% end %>
          </table>
       <% end %>
        </p>
    </p>
  <% else %>
    <%= link_to "Add reader's account", controller: 'readers', action: 'new', id: @user %>
  <% end %>
</div>
