<h2><%= @publisher.name %>
<% if current_user && current_user.librarian %>
  <%= link_to 'Edit', edit_publisher_path(@publisher), class: 'btn btn-default' %>
  <%= link_to 'Remove', @publisher, method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-danger' %>
<% end %>
</h2>

<div>
  <p>
  <table id="publications_table" class="table">
    <tr>
      <th>ISBN</th>
      <th>Title</th>
      <th>Author</th>
      <th>Year</th>
      <th></th>
    </tr>
    <% (@publisher.publications.sort{ |a,b| a.book.title.downcase <=> b.book.title.downcase }).each do |publication| %>
      <tr>
      <td>
        <%= publication.ISBN %>
      </td>
      <td>
        <%= link_to publication.book.title, publication.book %>
      </td>
      <td>
        <%= link_to publication.book.author.name, publication.book.author %>
      </td>
      <td>
        <%= publication.year %>
      </td>
      <% if current_user && current_user.librarian %>
        <td>
          <%= link_to 'Edit', edit_publication_path(publication, publication.book.id), class: 'btn btn-default'  %>
          <%= link_to 'Remove', publication, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger'  %>
        </td>
      <% end %>
    </tr>
    <% end %>
  </table>
</p>

</div>
