<!DOCTYPE html>
<html>
  <head>
    <title>Library Information System</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to "Library IS", root_path, class: 'navbar-brand' %>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><%= link_to "Home", root_path %></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Catalogue<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><%= link_to "Books", books_path %></li>
                <li><%= link_to "Authors", authors_path %><li>
                <li><%= link_to "Publishers", publishers_path %></li>
              </ul>
            </li>
            <li><%= link_to "Contact", contact_path %></li>
          </ul>
          <div class="col-sm-3 col-md-3">
            <%= form_tag({controller: "search", action: "search_all"}, method: "post", class:"navbar-form", role: "search") do %>
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Search" name="query">
                <div class="input-group-btn">
                    <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                </div>
              </div>
            <% end %>
          </div>
        <div>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Your account</a></li>
            <li><a href="#">Log in</a></li>
          </ul>
        </div>
      </div>
    </nav>


    <div class="container body-content">
      <%= yield %>
    </div>
  </body>
</html>
