<h2>Borrow a book</h1>

<%= form_for @borrow do |f| %>

   <% if @borrow.errors.any? %>
    <div class="alert alert-danger">
      <% @borrow.errors.full_messages.each do |msg| %>
        <p>
          <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
          <%= msg %>
        </p>
      <% end %>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :reader %>
    <%= @user.email %>
    <%= hidden_field_tag :reader_id, @user.reader.id %>
  </div>

  <div class="form-group">
    <%= f.label :isbn %>
    <%= f.select :publication_id,
      (Publication.all.select{ |p| p.available? }).collect{|b| [b.ISBN + ' (' + b.book.title + ')', b.id]}, {include_blank: true}, {:class => 'form-control select-isbn' } %>
  </div>

  <div class="form-group">
    <%= f.label :length, 'Length of borrow:' %>
    <%= radio_button_tag(:length, "1m") %>
    <%= label_tag(:length_one, "1 month") %>
    <%= radio_button_tag(:length, "3m") %>
    <%= label_tag(:length_two, "3 months") %>
    <%= radio_button_tag(:length, "6m") %>
    <%= label_tag(:length_six, "6 months") %>
    <%= radio_button_tag(:length, "1y") %>
    <%= label_tag(:length_year, "1 year") %>
  </div>

	<div>
    <%= f.submit 'Save', class: 'btn btn-default' %>
    <%= link_to 'Back', :back, class: 'btn btn-default'%>
  </div>

<% end %>
