<h2>
  <% if current_user && current_user.librarian %>
    <%= @book.title %> <%= link_to "Edit", edit_book_path(@book), class: 'btn btn-default' %>
    <%= link_to 'Remove', @book, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
  <% end %>
</h2>


<table id="book_info_table" class="table book-info-table">
  <tr>
    <td>
      Author
    </td>
    <td><%= link_to @book.author.name, @book.author %></td>
  </tr>
  <tr>
    <td>
      Description
    </td>
    <td><%= @book.description %></td>
  </tr>
</table>

<h3>List of copies</h3>
<div>
  <% if current_user && current_user.librarian %>
    <%= link_to "Add copy", {controller:'publications', action:'new'}, class: 'btn btn-default' %>
  <% end %>
  <p>
    <table id="publications_table" class="table table-bordered">
      <tr>
        <th>ISBN</th>
        <th>Publisher</th>
        <th>Year</th>
        <th>Available</th>
        <% if current_user && current_user.librarian %>
          <th></th>
        <% end %>
      </tr>
      <% (@book.publications).each do |publication| %>
      <tr>
        <td>
          <%= publication.ISBN %>
        </td>
        <td>
          <%= publication.publisher.name %>
        </td>
        <td>
          <%= publication.year %>
        </td>
        <td align="center">
          <% if publication.available? %>
            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
          <% else %>
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
          <% end %>
        </td>
        <% if current_user && current_user.librarian %>
          <td>
            <%= link_to 'Edit', edit_publication_path(publication, @book.id), class: 'btn btn-default'  %>
            <%= link_to 'Remove', publication, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger'  %>
          </td>
        <% end %>
      </tr>
      <% end %>
    </table>
  </p>
</div>

