<%= form_for @author do |f| %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>

  <% if @author.errors.any? %>
    <div class="alert alert-danger">
      <% @author.errors.full_messages.each do |msg| %>
        <p>
          <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
          <%= msg %>
        </p>
      <% end %>
    </div>
  <% end %>

  <%= f.submit 'Save', class: 'btn btn-default' %>

<% end %>
