<h2>New author</h2>

<%= form_for @author, :html => {:class => 'col-md-4'} do |f| %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>

  <% if @author.errors.any? %>
    <div class="alert alert-danger">
      <% @author.errors.full_messages.each do |msg| %>
      <p><%= msg %></p>
      <% end %>
    </div>
  <% end %>

  <%= f.submit 'Save', class: 'btn btn-default' %>

<% end %>
