<h2>Prolong a book borrow</h1>

<%= form_for @borrow do |f| %>

  <div class="form-group">
    <%= f.label :reader %>
    <%= @user.email %>
  </div>

  <div class="form-group">
    <%= f.label :isbn %>
    <%= @borrow.publication.ISBN %>
  </div>

  <div class="form-group">
    <%= f.label :length, 'Prolong for:' %>
    <%= radio_button_tag(:length, "1m") %>
    <%= label_tag(:length_one, "1 month") %>
    <%= radio_button_tag(:length, "3m") %>
    <%= label_tag(:length_two, "3 months") %>
    <%= radio_button_tag(:length, "6m") %>
    <%= label_tag(:length_six, "6 months") %>
    <%= radio_button_tag(:length, "1y") %>
    <%= label_tag(:length_year, "1 year") %>
  </div>

	<div>
    <%= f.submit 'Save', class: 'btn btn-default' %>
    <%= link_to 'Back', :back, class: 'btn btn-default'%>
  </div>

<% end %>
