<div class="page-header">
  <h2><%= @borrow.publication.book.title %> <small>by <%= @borrow.publication.book.author.name %> </small> </h2>
</div>

<div>
  <p>ISBN: <%= @borrow.publication.ISBN %></p>
  <p>Borrowed on: <%= @borrow.borrow_date %></p>
  <p>Expected return date: <%= @borrow.expected_return_date %></p>
</div>

<% if @borrow.active? && current_user.librarian %>
  <%= link_to 'End this borrow', {controller: 'borrows', action: 'return', id: @borrow.id}, class: 'btn btn-danger'%>
  <%= link_to 'Prolong this borrow', {controller: 'borrows', action: 'prolong', id: @borrow.id}, class: 'btn btn-default'%>
<% else %>
  <p>Returned on: <%= @borrow.return_date %></p>
<% end %>
